<head>
	<base href="/">
</head>
<body>
	<div ng-app="socially">
		<meteor-include src="loginButtons"></meteor-include>
		<h1><a ui-sref="parties">Parties:</a></h1>
		<div ui-view></div>
	</div>
</body>