<div ng-controller="PartiesListCtrl">
	<form>
		<label>Name</label>
		<input ng-model="newParty.name">
		<label>Description</label>
		<input ng-model="newParty.description">
		<button ng-click="newParty.owner=$root.currentUser._id; parties.push(newParty); newParty = '';">Add</button>
		<label>Public</label>
		<input type="checkbox" ng-model="newParty.public">
	</form>
	<div>
		<input type="search" ng-model="search" placeholder="search">
		<select ng-model="orderProperty">
			<option value="1">Ascending</option>
			<option value="-1">Descending</option>
		</select>
	</div>
	<ul>
		<li dir-paginate="party in parties | itemsPerPage: perPage" total-items="partiesCount.count">
			<a href="/parties/{{party._id}}">{{party.name}}</a>
			<p>{{party.description}}</p>
			<button ng-click="remove(party)">X</button>
			<div>
				<input type="button" value="I'm going!" ng-click="rsvp(party._id, 'yes')">
				<input type="button" value="Maybe" ng-click="rsvp(party._id, 'maybe')">
				<input type="button" value="No" ng-click="rsvp(party._id, 'no')">
			</div>
			<div>
				Who is coming:
				Yes - {{ (party.rsvps | filter:{rsvp:'yes'}).length }}
				Maybe - {{ (party.rsvps | filter:{rsvp:'maybe'}).length }}
				No - {{ (party.rsvps | filter:{rsvp:'no'}).length }}
				<div ng-repeat="rsvp in party.rsvps | filter:{rsvp:'yes'}">
					{{ getUserById(rsvp.user) | displayName }} - {{ rsvp.rsvp }}
				</div>
				<div ng-repeat="rsvp in party.rsvps | filter:{rsvp:'maybe'}">
					{{ getUserById(rsvp.user) | displayName }} - {{ rsvp.rsvp }}
				</div>
				<div ng-repeat="rsvp in party.rsvps | filter:{rsvp:'no'}">
					{{ getUserById(rsvp.user) | displayName }} - {{ rsvp.rsvp }}
				</div>
			</div>
			<ul>
				Users who not responded:
				<li ng-repeat="invitedUser in outstandingInvitations(party)">
					{{ invitedUser | displayName }}
				</li>
			</ul>
			<p><small>Posted by {{ creator(party) | displayName }}</small></p>
		</li>
	</ul>
	<dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
	<pre>Debug: 
{{partiesCount.count | json}}
page: {{page | json}}
sort: {{sort | json}}
search: {{search | json}}
	</pre>
</div>